@import '../../../scss/variables';

.home {
  &_about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 72px;
    &-wrapper {
      margin: 0 auto;
    }
    &-h1 {
      font-size: 48px;
      color: $black;
      font-weight: 800;
    }
    &-description {
      max-width: 545px;
      margin-top: 24px;
      color: $black;
      font-weight: 500;
    }
  }
}
