@import '../../../scss/variables';
@import '../../../scss/components/all';

.main {
  transition: 0.2s ease-in-out;
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 500px;
  }
  &-about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 72px;
    &__wrapper {
      margin: 0 auto;
    }
    &__h1 {
      @include fontH1;
    }
    &__description {
      max-width: 545px;
      margin-top: 24px;
      color: $black;
      font-weight: 500;
    }
  }
  &-content {
    margin-top: 104px;
  }
  &-text {
    max-width: 1300px;
    padding: 100px 15px;
    margin: 0 auto;
    h2 {
      color: $graySecond;
      font-size: 24px;
      line-height: 120%;
      font-weight: 700;
    }
    p,
    li {
      color: $grayThird;
      font-size: 12px;
    }
    h3 {
      font-size: 18px;
      color: $graySecond;
      font-weight: 700;
      line-height: 120%;
    }
  }
}
