@import '../variables';

@mixin button {
  height: 52px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  background: $bgTransparentSecond;
  color: $black;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    background-color: $yellow;
  }
}

.button {
  &-back {
    &__button {
      @include button;
      gap: 5px;
      background-color: $bgTransparentSecond;

      & svg {
        fill: $black;
      }
    }
  }
}
