@import '../../../scss/variables';
@import '../../../scss/components/all';

.expander {
  padding: 24px;
  width: 300px;
  background-color: var(--background-fh);
  border-radius: 24px;

  &-description {
    color: var(--text-gray);
    margin-bottom: 16px;
    font-size: 14px;
  }

  &-button {
    margin-top: 16px;

    &__button {
      @include button;
      width: 100%;
      background-color: $yellow;
    }
  }
}
