@import '../../../scss/variables';

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $black;
  margin: 0 8px;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: rgba(26, 26, 26, 0.4);
  }
}

.slider-image {
  & img {
    width: 100%;
  }
}
