@import '../../../scss/variables';

.sort {
  &-label {
    display: flex;
    align-items: center;

    &_name {
      display: flex;
      width: 200px;
      padding: 18px 25px;
      background-color: #f9f9f9;
      border-radius: 30px;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;

      svg {
        margin-right: 8px;
      }
      span {
        display: flex;
        justify-content: center;
        border-radius: 30px;
        position: relative;
        color: $primaryOrange;
        font-weight: bold;
      }
    }

    b {
      margin-right: 8px;
    }
  }

  &-popup {
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    right: -7px;
    position: absolute;
    top: 38px;
    ul {
      li {
        padding: 12px 20px;
        cursor: pointer;
        border-radius: 30px;
        background-color: $white;
        margin: 5px 0;
        width: 200px;
        &.active,
        &:hover {
          background: $bgYellow;
        }

        &.active {
          font-weight: bold;
          color: $primaryOrange;
        }
      }
    }
  }
}
