@import '../../../scss/variables';

.sort {
  position: relative;
  &_label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $primaryOrange;
      border-bottom: 1px solid $primaryOrange;
      cursor: pointer;
      font-weight: bold;
    }
  }

  &_popup {
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    width: 160px;

    ul {
      overflow: hidden;
      border-radius: 10px;
      li {
        padding: 12px 20px;
        cursor: pointer;
        border-radius: 10px;
        margin: 5px 0;
        &.active,
        &:hover {
          background: $bgYellow;
        }

        &.active {
          font-weight: bold;
          color: $primaryOrange;
        }
      }
    }
  }
}
