@import '../../../scss/variables';
@import '../../../scss/components/all';
@import '../../../scss/var';

.auth {
  &-backdrop {
    animation: underlay-in 0.2s ease;
    will-change: opacity;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-40);
    z-index: 999;
  }
  &-overlay {
    max-height: 100%;
    z-index: 1000;
    max-width: 100vw !important;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    position: static;
  }
  &-container {
    color: var(--white);
    display: block;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-window {
    background: var(--background-fh);
    padding: 70px 40px 50px;
    border-radius: 24px;
    position: relative;
    overflow-y: auto;
    max-height: 100vh;
    width: 100%;
    max-width: 480px;
  }
  &-close {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    z-index: 2;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &-title {
    @include fontH2;
    text-align: center;
    color: var(--text-primary);
  }
  &-description {
    color: var(--text-gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  &-middle {
    &__description {
      color: var(--text-gray);
      font-weight: 500;
      margin-top: 5px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    &__icon {
      position: absolute;
      top: 12px;
      left: 17px;
    }
    &__button {
      font-size: 16px;
      position: relative;
      border: none;
      padding: 0 24px;
      border-radius: 12px;
      cursor: pointer;
      height: 56px;
      width: 100%;
      color: #9e9e9e;
      background: #404040;
      transition: 0.2s ease;
      line-height: 24px;
      font-weight: 700;
      outline: none;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: var(--yellow-light);
        color: var(--black);
      }
    }
    &__another {
      margin: 15px;
      border: 1px solid var(--black-40);
    }
  }
  &-bottom {
    margin-top: 25px;
    &__description {
      color: var(--text-gray);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    &__link {
      margin-left: 8px;
      color: var(--orange);
      cursor: pointer;
      display: inline-block;
      font-size: 17px;
      font-weight: 600;
      line-height: 24px;
      border: none;
      background: none;
      transition: 0.2s ease-in-out;
    }
  }
}
