@import '../../../scss/variables';
@import '../../../scss/components/all';

.reset {
  padding-top: 15px;
  &-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: $white;
    border-radius: 12px;
  }
  &-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
  }
  &-divider {
    margin: 25px 0 5px 0;
    border-top: 1px solid $bgTransparentSecond;
  }
}
