@import '../../../scss/variables';
@import '../../../scss/components/all';

.reset {
  padding-top: 15px;
  &-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: $white;
    border-radius: 12px;
  }
  &-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
  }
  &-divider {
    margin: 25px 0 5px 0;
    border: 1px solid $bgTransparentSecond;
  }
  &-button {
    &__login {
      margin-top: 16px;
      height: 52px;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 12px;
      background: rgba(39, 39, 39, 0.05);
      color: #1d1d1f;
      cursor: pointer;
      transition: 0.2s ease;
      font-weight: 700;
      font-size: 16px;
      &:hover {
        color: #333333;
        background-color: #cd8a05;
      }
    }
  }
}
