@import '../../../scss/components/all';

.home {
  padding-top: 50px;

  &-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
  }

  &-tab {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    &__signout {
      @include button;
      width: 300px;
      background-color: var(--red-grey);

      &:hover {
        background-color: var(--red-hover);
      }
    }

    &__button {
      @include button;
      width: 300px;
      gap: 15px;
      justify-content: flex-start;
      color: var(--text-primary);

      & svg {
        fill: var(--svg-fill);
      }

      &-active {
        background-color: var(--yellow-40);
      }
    }

    &__profile {
      display: flex;
      flex-direction: row;
      padding: 16px;
      background-color: var(--background-fh);
      border-radius: 12px;
      justify-content: space-between;
    }
  }

  &-button__add {
    @include button;
    max-width: 200px;
    width: 100%;
    background-color: var(--yellow-40);
    color: var(--background);
    &:hover {
      background-color: var(--orange);
    }
  }

  &-profile {
    &__right {
      margin-left: 12px;
      width: 200px;
      &-top {
        display: flex;
        justify-content: space-between;
      }
    }

    &__edit {
      border: none;
      background-color: var(--background-hover);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      svg {
        fill: var(--text-primary);
      }

      &:hover {
        background-color: var(--yellow-40);
      }
    }

    &__name {
      font-weight: 900;
      font-size: 18px;
      line-height: 24px;
      color: var(--text-primary);
    }

    &__description {
      margin-top: 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-gray);
    }

    &__phone {
      margin-top: 6px;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      color: var(--text-gray);
    }
  }

  &-right {
    width: 100%;
    max-width: 1117px;
  }

  &-title {
    @include fontH1;
    width: 100%;
    color: var(--text-primary);
  }

  &-bottom {
    margin-top: 24px;
    &__card {
      border-radius: 24px;
      padding: 40px 300px 40px 80px;
      background-color: var(--background-card);
      display: flex;
    }
    &__left {
      margin-right: 82px;
    }
    &__right {
      display: flex;
      flex-direction: column;
      &-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        max-width: 450px;
        color: var(--text-primary);
      }
      &-description {
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--text-gray);
        max-width: 400px;
      }
    }
  }
}
