@import '../../../scss/variables';
@import '../../../scss/components/button';

.product {
  &-card {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--background-fh);
    padding: 24px;
    display: flex;
    z-index: 0;
    flex-direction: column;
    position: relative;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    &__species {
      &-top {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 0;
      }
      &-bottom {
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 0;
      }
    }

    &__spice {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-right: 4px;
      background: #fad5d5;
    }

    &__vegan {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-right: 4px;
      background: #ddf0ce;
    }

    &__status {
      display: flex;
    }

    &__new {
      background-color: #ccf5d5;
      font-size: 14px;
      font-weight: 700;
      padding: 0 8px;
      margin-right: 8px;
      margin-bottom: 4px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      text-transform: uppercase;

      & span {
        font-size: 14px;
        font-weight: 700;
        color: #55b30b;
      }
    }

    &__favorite {
      margin-left: auto;
      width: 56px;
      height: 56px;
      background-color: var(--white-8);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.1s ease-in-out;

      & svg {
        fill: $grayFirst;
        transition: 0.1s ease-in-out;
      }

      &:hover {
        background-color: var(--background-hover);
        & svg {
          fill: var(--orange);
        }
      }
    }

    &__image {
      width: 100%;
      height: 194px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }

    &__content {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      color: var(--text-primary);
      cursor: pointer;
    }

    &__consist {
      margin-top: 12px;
      color: var(--text-gray);
      font-size: 14px;
    }

    &__weight {
      color: var(--orange);
      font-weight: 600;
    }

    &__divider {
      color: var(--text-gray);
    }

    &__description {
      color: var(--text-gray);
      font-size: 14px;
      font-weight: 500;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;
      padding-top: 24px;
    }

    &__price {
      font-size: 20px;
      font-weight: 700;
      display: flex;
      align-items: flex-start;

      & span:first-child {
        color: var(--text-primary);
      }
    }

    &__currency {
      font-size: 14px;
      color: var(--text-gray);
      margin-left: 4px;
      margin-bottom: 4px;
      display: inline-block;
    }

    &__button {
      @include button;
      background-color: var(--background-hover);
      color: var(--text-primary);
      &:hover {
        background-color: var(--orange);
        color: black;
      }
    }
  }
}
