@import '../../../scss/variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: var(--background-fh);
      display: flex;
      align-items: center;
      padding: 13px 25px;
      border-radius: 12px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      gap: 10px;
      border: 1px solid var(--background-fh);

      & p {
        color: var(--text-primary);
      }

      &:hover {
        background-color: var(--yellow-40);
      }

      &:active {
        background-color: var(--yellow-40);
      }

      &.active {
        background-color: var(--background-fh);
        color: var(--text-primary);
        border: 1px solid #ff6633;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
