@import '../../../scss/variables';
@import '../../../scss/components/all';

.signup {
  padding-top: 50px;
  &-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: $white;
    border-radius: 12px;
  }
  &-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
  }

  &-top {
    text-align: center;

    &__title {
      @include fontH2;
    }
  }

  &-form {
    margin-top: 24px;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    &__register {
      margin-top: 15px;
      @include button;
    }
  }
}
