$container-width: 90%;
// $background: #fff;
$background: #f3f2f2;
// $background: #fff3dd;
// Ацкентный
$primaryGreen: #00cc2d;
$primaryOrange: #ff6633;

// Текст
$grayFirst: #686870;
$graySecond: #86868b;
$grayThird: #9e9e9e;
$grayFour: #1a1a1a66;

// Цветные
$blackGray: #1a1a1a;
$black: #1d1d1f;
$gray: #404040;
$yellowFirst: #f8ca22;
$yellow: #ffc700;
$red: #f44837;
$green: #55b30b;
$white: #ffffff;

// Разделитель
$dividerFirst: #d2d2d7;
$dividerSecond: #ededed;
$dividerThird: #f5f5f5;

// Фон
$bgInput: #f5f5f7;
$bgTransparentFirst: rgba(39, 39, 39, 0.1);
$bgTransparentSecond: rgba(39, 39, 39, 0.05);
//Цветные фоны
$bgYellow: #fef7ed;
$bgOrange: #fbdcd5;
$bgGreen: #ccf5d5;
$bgGray: #f5f5f7;

// Ховер
$hoverGreenSecond: #02bd2b;
$hoverOrange: #ff6633;
$hoverGreen: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00cc2d;

// scrollbar
$scroll: #404040;
