:root {
  --logo: #1a1a1a;
  --background: #f5f5f7;
  --background-fh: #ffffff;
  --text-primary: #1a1a1a;
  --text-gray: #9e9e9e;
  --background-hover: #ededed;
  --svg-fill: #404040;
  --orange: #ffc700;
  --yellow-40: rgba(255, 199, 0, 0.4);
  --red: #e72e2e;
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --white-8: hsla(0, 0%, 100%, 0.08);
  --background-card: #ffffff;
  --yellow-light: #cd8a05;

  --black: #1a1a1a;
  --dark: #141313;
  --dark2: #262323;
  --bg: #f6f6f6;
  --bg-2: #fff3dd;
  --disabled: #141313;
  --green: #55b30b;
  --green-24: #ddf0ce;
  --red: #e72e2e;
  --red-24: #fad5d5;
  --red-hover: #e93f3f;
  --red-grey: #ff8282;
  --yellow: #ffc700;
  --yellow-pale: #fff9ef;
  --yellow-hover: #ffb433;
  --yellow-40: rgba(255, 199, 0, 0.4);
  --yellow-20: rgba(255, 199, 0, 0.2);
  --yellow-10: rgba(255, 199, 0, 0.1);
  --yellow-8: rgba(255, 199, 0, 0.08);
  --yellow-4: rgba(255, 199, 0, 0.04);
  --yellow-gray: #ffd080;
  --yellow-light: #cd8a05;
  --grey: #f6f6f6;
  --white: #fff;
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --white-8: hsla(0, 0%, 100%, 0.08);
  --white-4: hsla(0, 0%, 100%, 0.04);
  --white-2: hsla(0, 0%, 100%, 0.02);
  --black-80: #404040;
  --black-50: rgba(26, 26, 26, 0.5);
  --black-40: rgba(26, 26, 26, 0.4);
  --black-10: rgba(26, 26, 26, 0.1);
  --black-8: #ededed;
  --black-4: rgba(26, 26, 26, 0.04);
  --modal: #232324;
  --modal-text: #c9cccf;
  --modal-button: #333333;
}

[data-theme='dark'] {
  --logo: #ededed;
  --background: #171717;
  --background-fh: #1e1e1e;
  --text-primary: #ffffff;
  --text-gray: #9e9e9e;
  --background-hover: rgba(48, 48, 48, 0.4);
  --svg-fill: #ededed;
  --orange: #ffc700;
  --yellow-40: rgba(255, 199, 0, 0.4);
  --red: #e72e2e;
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --white-8: hsla(0, 0%, 100%, 0.08);
  --background-card: #404040;
  --yellow-light: #cd8a05;

  --black: #1a1a1a;
  --dark: #141313;
  --dark2: #262323;
  --bg: #f6f6f6;
  --bg-2: #161617;
  --disabled: #141313;
  --green: #55b30b;
  --green-24: #ddf0ce;
  --red: #e72e2e;
  --red-24: #fad5d5;
  --red-hover: #e93f3f;
  --red-grey: #ff8282;
  --yellow: #ffc700;
  --yellow-pale: #fff9ef;
  --yellow-hover: #ffb433;
  --yellow-40: rgba(255, 199, 0, 0.4);
  --yellow-20: rgba(255, 199, 0, 0.2);
  --yellow-10: rgba(255, 199, 0, 0.1);
  --yellow-8: rgba(255, 199, 0, 0.08);
  --yellow-4: rgba(255, 199, 0, 0.04);
  --yellow-gray: #ffd080;

  --grey: #f6f6f6;
  --white: #fff;
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --white-8: hsla(0, 0%, 100%, 0.08);
  --white-4: hsla(0, 0%, 100%, 0.04);
  --white-2: hsla(0, 0%, 100%, 0.02);
  --black-80: #404040;
  --black-50: rgba(26, 26, 26, 0.5);
  --black-40: rgba(26, 26, 26, 0.4);
  --black-10: rgba(26, 26, 26, 0.1);
  --black-8: #ededed;
  --black-4: rgba(26, 26, 26, 0.04);
  --modal: #ededed;
  --modal-text: #232324;
  --modal-button: #c9cccf;
}
